/* App.css */

/* Container for the cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
   
  }
  
  /* Individual card styles */
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    transition: transform 0.2s;
    height: 400px;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  /* Card image styling */
  .card img {
    width: 100%;
    height: auto;
  }
  
  /* Card content styling */
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }
  
  .card-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
  }
  
  .card-meet-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .card-meet-link:hover {
    text-decoration: underline;
  }
  
  /* Button styles */
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form input,
  form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="text"],
  form textarea {
    font-size: 1rem;
  }
  
  form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  form button {
    margin-top: 10px;
  }
  p{
    line-height: 15px;
  }
  